/* Estilo Normalizado */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background-image: url('../images/fondo_principal.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: burlywood;
    font-size: 1.2rem;
    justify-content: right;
    width: 100%;
}

.titulo {
    font-family: "Metamorphous", serif;
    font-size: 1.5rem;
    display: block;
    background-color: #EB9C63;
    text-align: center;
    font-weight: bolder;
}